<div>
	<div><%= @current_time.strftime('%H:%M:%S %p') %></div>
	<div><%= @total_amount %> raised </div>
	<div><%= @msg if @msg %></div>
	<div>
			<div>
				<% if @late %> 
					<%= link_to "U are late" %>
				<% else %>
					<%= link_to "U are on time" %>
				<% end %>
			</div>
			<div>Todays Contributors
				<ul>
					<% @today_contributors.each do |user| %>
					<li><%= user.name %></li>
					<% end %>
				</ul>
			</div>
			<div>Top Contributors
				<ul>
					<% @top_contributors.each do |u| %>
					<li><%= u[1] %></li>
					<% end %>
				</ul>
			</div>
	</div>
</div>



